

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-center{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px black;
}
.nav-center h1{
    padding-left: 3rem;
    color:black;

}
.nav-links li a{
    padding-right: 3rem;
    color: black;
    font-style:italic;
}
.nav-links , li , a{
    display: flex;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    height: 40px;
    width: 50%;
    text-align: center;
    line-height: 40px;
}
main .container button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:40px;
    width:80px ;
    border-radius: 20px;
}
main .container button:hover{
    background:#ff69b4;
    
}

